:root {
    --primary-100: #896C6C;
    --primary-200: #E5BEB5;
    --primary-300: #FFFDF1;
    --primary-400: #F5FAE1;
    --primary-500: #FFD45A;
    --primary-600: #F88F01;
    --primary-700: #E27802;
    --primary-800: #6A492B;
    --primary-900: #58391C;

    --roboto: "KA-Hand-Naskh";
}
