*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid grey;
}
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Italianno&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
html{
    font-size: 120%;
}

nav div a img{
    width: 50px;
    margin: 0 4.5px;
}

:root{
    --primary-100:#896C6C;
    --primary-200:#E5BEB5;
    --primary-300:#EEE6CA;
    --primary-400:#F5FAE1;
    --primary-500:#F88F01;
    --primary-600:#E27802;
    --primary-700:#6A492B;
    --primary-800:#58391C;
}